.gallery .control-button {
  color: #D4489A;
  color: rgba(212, 72, 154, 0.4);
}
.gallery .control-button:hover {
  color: #D4489A;
  color: rgba(212, 72, 154, 0.8);
}
.gallery {
  position: relative;
}
.gallery .item {
  height: auto;
  overflow: hidden;
  text-align: center;
  background: #E6E6E6;
}
.gallery .controls {
  position: absolute;
  top: 36.5%;
  width: auto;
  cursor:pointer;
}
.left {
    left: 1em;
}
.right {
    right: 1em;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 7em;
  text-decoration: none;
  transition: color .1s;
}