* {
    margin: 0;
}

body {
    background-color: #F1F2F2;
}

h1:hover {
    color: #C447C4;
}

a {
    text-decoration: none;
    color: inherit;
}

.bgc {
    margin: 5em 3em 0 3em;
    background-color: #FFF;
    border: 1px solid #E9E9E9;
}

.main {
    background: #D4489A;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    padding-top: 1px;
}

.myface {
    margin-top: 25px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding-top: 100px;
    padding-bottom: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    position: relative;
    display: block;
    padding-top: 35px;
    padding-right: 10px;
    padding-left: 10px;
    color: #D4489A;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.midboldtext {
    margin-top: 5em;
    margin-bottom: 50px;
}

.project {
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

@media (max-width: 1120px) {
    .project {
        width:800px;
        height:auto;
    }
}

@media (max-width: 930px) {
    .project {
        width:600px;
        height:auto;
    }
}

@media (max-width: 630px) {
    .project {
        width:400px;
        height:auto;
    }
}

@media (max-width: 420px) {
    .project {
        width:300px;
        height:auto;
    }
}

@media (max-width: 730px) {
    .bgc {
    margin: 0em;
    margin-top: 5em;
}
}

.projholder {
    position: relative;
    display: table;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    max-width: 100%;
    padding-bottom: 50px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    position: relative;
    display: block;
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    color: #696969;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bio {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
    position: relative;
    margin: 15px 30px 25px 30px;
    padding-right: 25px;
    padding-left: 25px;
    color: #FFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
    line-height: 1.5em;
}

.greytext {
    color: #696969;
}

.botpad {
    padding-bottom: 25px;
}

.tags {
    font-family: 'Montserrat', sans-serif;
    font-size: .75em;
    position: relative;
    display: block;
    color: #999999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.clickheart {
    text-align:center;
}

#madewithlove {
    position: relative;
    color: #667;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 0 0 10px 0;
    text-align: center;
    padding-top: 20px;
}

#madewithlovenew {
    font-family: 'Press start 2P', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    color: #667;
    margin: 0 0 10px 0;
    text-align: center;
    padding-top: 26px;
    display: none;
    line-height: 1.5em;
}

.social {
    margin-top: 25px;
    padding-bottom: 100px;
    padding-top: 10px;
}

.heartalign {
    padding-left: 2.5px;
    padding-right: 2px;
}

.socialpad {
    padding-left: 7px;
    padding-right: 7px;
}