/*References used: https://github.com/fofr/paulrhayes.com-experiments/blob/master/cube/css/experimentMultiCube.css

https://paulrhayes.com/experiments/cube/multiCubes.html
*/

@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
	
}

.hvr-wobble-vertical, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* */

.cube {
  position: relative;
  top: 250px;
  left: 50px;
  transition: transform .6s ease;
}

.cube:hover {
    transform: translate(0px, -120px);
}

.cube2 {
  position: relative;
  top: 250px;
  left: 326px;
  transition: transform .6s ease;
}

.cube2:hover {
    transform: translate(0px, -120px);
}

.cube3 {
  position: relative;
  top: 411px;
  left: 41.5px;
  transition: transform .6s ease;
}

.cube3:hover {
    transform: translate(0px, -120px);
}

.cube4 {
  position: relative;
  top: 411px;
  left: 318px;
  transition: transform .6s ease;
}

.cube4:hover {
   transform: translate(0px, -120px);
}

.rightFace,
.leftFace,
.topFace div {
  padding: 10px;
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.rightFace,
.leftFace,
.topFace {
  position: absolute;
}

.leftFace {
  -webkit-transform: skewY(30deg);
  -moz-transform: skewY(30deg);
  margin-left: 30px;	
}

.rightFace {
  -webkit-transform: skewY(-30deg);
  -moz-transform: skewY(-30deg);
  background-color: rgb(100, 100, 255);
  left: 170px;
}

.topFace div {
  -webkit-transform: skewY(-30deg) scaleY(1.16);
  -moz-transform: skewY(-30deg) scaleY(1.16);
  background-color: blue;
  font-size: 0.862em;
}

.topFace {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  top: -110px;
  left: 100px;
}

#randombg {
	background: yellow;
}

img {
	margin-left: -10px;
	margin-top: -10px;
	width: 140px;
	height: 140px;
}

.title {
  color: white;
  font-family: sans-serif;
  font-size: 1.25em;
}

.copy {
  color: white;
  font-family: sans-serif;
  font-size: .75em;
	
}

a {
	color: white;
}