* {
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    position: relative;
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
	width: 100%;
}

.project {
    background: url("images/ugahacksbannerblur.png") no-repeat center center;
	background-size: cover; 
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
    
.bioa {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    position: relative;
    display: block;
    margin: 0px 30px 0px 30px;
	padding-top: 15%;
    padding-bottom: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    line-height: 1.5em;
	width: 100%;
}

@media (max-width: 1440px) {
    .bioa {
	padding-top: 17%;
    padding-bottom: 23%;
}
}

@media (max-width: 1316px) {
    .bioa {
	padding-top: 17%;
    padding-bottom: 23%;
}
}

@media (max-width: 1074px) {
    .bioa {
	padding-top: 19%;
    padding-bottom: 25%;
}
}

@media (max-width: 906px) {
    .bioa {
	padding-top: 22%;
    padding-bottom: 28%;
}
}

.biob {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
    position: relative;
    display: block;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: left;
	width: 100%;
    line-height: 2em;
    background: #f1f1f1;
}

.bioc {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
    position: relative;
    display: block;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: left;
	width: 100%;
    line-height: 2em;
    color: white;
    background: #202020;
}

.center {
    margin-left: 5em;
    margin-right: 5em;
}

@media (min-width: 1260px) {
    .center {
    margin-left: 8em;
    margin-right: 8em;
}
}

@media (max-width: 730px) {
    .center{
    margin: 0em;
}
}

.bio {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    position: relative;
    display: block;
    padding: 80px 0px 75px 0px;
    text-align: left;
	width: 100%;
    line-height: 1.5em;
}

.greytext {
    color: #696969;
}

.backarrowcontainer {
    margin-left: 25px;
    position: relative;
    display: block;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.15em;
    position: absolute;
    top: 40px;
    left: 25px;
}

.backarrow {
    margin-top: 20px;
    width: 75px;
    position: relative;
    display: inline;
    width: 78px;
    height: 46px;
    border: 0px;
    background-image: none;
}

.tags {
    font-family: 'Montserrat', sans-serif;
    font-size: .75em;
    position: relative;
    display: block;
    color: #999999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

h4 {
    font-size: 3em;
    line-height: 1.25em;
}