* {
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    position: relative;
    display: block;
    padding-top: 35px;
    padding-right: 10px;
    padding-left: 10px;
    color: #696969;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.bgc {
    margin: -2em 3em 0 3em;
    background-color: #FFF;
}

.project {
    display: inline;
    margin: 0 auto;
}

@media (max-width: 1120px) {
    .project {
        width:800px;
        height:auto;
    }
}

@media (max-width: 930px) {
    .project {
        width:600px;
        height:auto;
    }
}

@media (max-width: 730px) {
    .bgc {
    margin: -2em;
    margin-top: 2em;
}
}

.projholder {
    position: relative;
    display: table;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 50px;
    max-width: 100%;
}

.bio {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
    position: relative;
    margin: 15px 30px 25px 30px;
    padding-right: 25px;
    padding-left: 25px;
    color: #FFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}

.greytext {
    color: #696969;
}

.backarrowcontainer {
    margin-top: 35px;
    margin-left: 25px;
    position: relative;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1em;
    position: absolute;
    top: 22px;
    left: 25px;
}

.backarrow {
    width: 75px;
}

.tags {
    font-family: 'Montserrat', sans-serif;
    font-size: .75em;
    position: relative;
    display: block;
    color: #999999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}