<!DOCTYPE html>
<html>
<head>
	<title>Alserkal Arrows</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/visual.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<a class="back" href="/#visual"><img src="home.svg"></a>
<div class="content">
	<h1>Alserkal Arrows</h1>
	<p>
		For an environmental design and wayfinding project, <a target="_blank" href="https://issuu.com/paulhwang/docs/alserkal_ave_publication"><u>I designed and physically crafted a zine about the Alserkal Arrows from Dubai.</u></a> I started my process about gather information about this wayfinding system: how much it cost, the materials used, the design process followed in making them, the team who created them, and so on.
		<br>
		<br>
		After my research, I began my design process, starting with sketches, going into mockups for feedback, test prints, and final edits. I wanted to highlight the simplicity of the arrows throughout my zine. This was achieved with the use of a monochromatic color palette and the usage of simple shape illustrations throughout the publication.
		<br>
		<br>
		Special care was put into the printing and assembly of the zine. They were sent to a print shop that used spot color printing to get the right sheen of blue and each were binded myself by hand.
	</p>
</div>
<div class="images">
	<img src="projects/alserkal-arrows/Alserkal_1.png">
	<img src="projects/alserkal-arrows/Alserkal_2.png">
	<img src="projects/alserkal-arrows/Alserkal_3.png">
	<img src="projects/alserkal-arrows/Alserkal-4.jpg">
	<img src="projects/alserkal-arrows/Alserkal-5.jpg">
	<img src="projects/alserkal-arrows/Alserkal-6.jpg">
	<img src="projects/alserkal-arrows/Alserkal-7.jpg">
	<img src="projects/alserkal-arrows/Alserkal-8.jpg">
	<img src="projects/alserkal-arrows/Alserkal-9.jpg">
	<img src="projects/alserkal-arrows/Alserkal-10.jpg">
</div>
<img src="gradient.svg" class="background">

</body>
</html>