<!DOCTYPE html>
<html>
<head>
	<title>Astrovisual</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/visual.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<a class="back" href="/#visual"><img src="home.svg"></a>
<div class="content">
	<h1>Astro Visual</h1>
	<p>
		Astro Visual was a small startup that focused on creating an affordable, but powerful telescope for hobbyists and stargazers. They would be able to remote into a mobile app to tune into the telescope and get a live feed of what it saw and control it. I was able to design their app interface.
		
		With this app, the user could take an image, a timelapse, or a video, through the telescope, which they would be able to edit and share. The aesthetic direction was inspired by the night sky and night vision. The main focus of the interface was to show more of what they telescope saw and have little interface.
	</p>
</div>
<div class="images">
	<img src="projects/astrovisual/Astrovisual_1.png">
	<img src="projects/astrovisual/Astrovisual_2.png">
	<img src="projects/astrovisual/Astrovisual-3.png">
	<img src="projects/astrovisual/Astrovisual-4.png">
	<img src="projects/astrovisual/Astrovisual-5.png">
</div>
<img src="gradient.svg" class="background">

</body>
</html>