<!DOCTYPE html>
<html>
<head>
	<title>Ocean Plastics</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/visual.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<a class="back" href="/#visual"><img src="home.svg"></a>
<div class="content">
	<h1>Ocean Plastics Narrative Site</h1>
	<p>
			To properly view the site, viewing it in full screen using Chrome at 1080p resolution on desktop is required.
			<br>
			<br>
			Our oceans are plagued with waste and plastic pollution from all kinds of sources, which poison the ecosystem and ourselves. To highlight these issues, I created an <a target="_blank" href="https://mysterious-meadow-12956.herokuapp.com/"><u>interactive narrative scrolling website</u></a> that takes one through the journey of a plastic bottle. The assets used were created in Illustrator and After Effects, while the front-end was created using HTML, CSS, JS, and libraries/frameworks like Skrollr, Jquery, and Lottie.
	</p>
</div>
<div class="images">
	<img src="projects/plastic-ocean/Plastic_1.png">
	<img src="projects/plastic-ocean/Plastic_2.png">
	<img src="projects/plastic-ocean/Plastic_3.png">
	<img src="projects/plastic-ocean/Plastic_4.png">
	<img src="projects/plastic-ocean/Plastic_5.png">
	<img src="projects/plastic-ocean/Plastic_6.png">
	<img src="projects/plastic-ocean/Plastic_7.png">
	<img src="projects/plastic-ocean/Plastic_8.png">
</div>
<img src="gradient.svg" class="background">

</body>
</html>