<!DOCTYPE html>
<html>
<head>
	<title>Shape Animations</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/visual.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<a class="back" href="/#visual"><img src="home.svg"></a>
<div class="content">
	<h1>Shape Animations</h1>
	<p>
		These are a collection of animations I’ve created in After Effects for my animation class at UGA.
		<br>
		<br>
		The character animation features a spaceman shooting off into the cosmos, looking for a fabled portal that takes him to an unknown land.
		<br>
		<br>
		The shape animation uses expressive colors and shapes that dance to the first 30 seconds of Moe Shop’s song, “Pastel” The typographic animation has text and illustrations moving around to Carl Sagan’s speech, “Pale Blue Dot”.
	</p>
</div>
<div class="images">
	<img src="projects/animations/Animation_1.png">
	<img src="projects/animations/Animation_2.png">
	<img src="projects/animations/Animation_3.png">
	<iframe src="https://player.vimeo.com/video/245909578" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	<iframe src="https://player.vimeo.com/video/239098648" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	<iframe src="https://player.vimeo.com/video/236738183" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<img src="gradient.svg" class="background">

</body>
</html>