<!DOCTYPE html>
<html>
<head>
	<title>SSRL</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/visual.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<a class="back" href="/#visual"><img src="home.svg"></a>
<div class="content">
	<h1>SSRL</h1>
	<p>I’ve been with the Small Satellite Research Lab (SSRL) for a few years during my time at university, creating the first mission patches, creating print and digital materials, creating their brand system, etc. They aim to bring space to UGA by creating satellites and other materials for NASA, the Air Force, and other patrons. <a target="_blank" href="http://www.smallsat.uga.edu/"><u>I also designed the first iteration of their website (2016).</u></a>
	<br>
	<br>
	For most materials, I followed my usual design process: research, sketching, iterations/mockups, initial solutions and testing, and production.
	</p>
</div>
<div class="images">
	<img src="projects/ssrl/SSRL_2.jpg">
	<img src="projects/ssrl/SSRL_3.jpg">
	<img src="projects/ssrl/SSRL_4.jpg">
	<img src="projects/ssrl/SSRL_5.jpg">
	<img src="projects/ssrl/SSRL_6.jpg">
	<img src="projects/ssrl/SSRL_7.png">
	<img src="projects/ssrl/SSRL_8.png">
	<img src="projects/ssrl/SSRL_9.png">
	<img src="projects/ssrl/SSRL_10.png">
	<img src="projects/ssrl/SSRL_1.png">
	<img src="projects/ssrl/SSRL_11.png">
	<img src="projects/ssrl/SSRL_12.png">
	<img src="projects/ssrl/SSRL_13.png">
	<img src="projects/ssrl/SSRL_14.png">
</div>
<img src="gradient.svg" class="background">

</body>
</html>