<!DOCTYPE html>
<html>
<head>
	<title>UGA Hacks</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/visual.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<a class="back" href="/#visual"><img src="home.svg"></a>
<div class="content">
	<h1>UGA Hacks Branding</h1>
	<p>My team wanted to bring the maker mentality to the University of Georgia (UGA), so we started UGA Hacks. Technology hasn’t been a big part of UGA culture; however, there are those taking initiative in Athens, like FourAthens, ACM, IEEE. To support this growth, we wanted to start an annually occurring hackathon here: UGA Hacks.
	<br>
	<br>
	Our brand was centered around a comet, a burning force that makes an explosive impact. We wanted this to represent our attitude and the attitude of our hackers. We wanted to attract hackers that shared our mission. Aesthetically, we leaned towards sharp edges and solid geometric shapes, to enforce the technology theme. 
	<br>
	<br>
	After our impact, we wanted to spread our maker influence throughout our campus. This idea of “the aftermath” of a comet, like ash and wildfire, was integrated into our aesthetics as well. 
	Our color system was based off of our school’s colors: red, black, and white, but with a few liberties taken. 
	<br>
	<br>
	</p>
</div>
<div class="images">
	<img src="projects/ugahacks/Hacks_1.png">
	<img src="projects/ugahacks/Hacks_2.png">
	<img src="projects/ugahacks/Hacks_3.png">
	<img src="projects/ugahacks/Hacks_4.png">
	<img src="projects/ugahacks/Hacks_5.png">
	<img src="projects/ugahacks/Hacks_6.png">
</div>
<img src="gradient.svg" class="background">
</body>
</html>