*{
	top:0;
	left:0;
	font-family: 'Nunito Sans', sans-serif;
	overflow-x: hidden;
}
.back {
	top: 50px;
	left: 35px;
	position: fixed;
	background: blue;
	padding: 15px 15px 10px 15px;
	border-radius: 100px;
	color: white;
	text-decoration: none;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
	z-index: 100;
}
.back img {
	width: 20px;
	height: auto;
}

img{
	width: 50%;
	height: auto;
	position: relative;
	display: inline-block;
}

iframe {
	width: 50%;
	height: 300px;
	position: relative;
	display: inline-block;
}

.images{
	width: 100%;
	height: auto;
	margin-left: 5%;
	margin-top: 120px;
}

.images img {
	box-shadow: 2px 3px 10px rgba(0,0,0,0.5);
}

h1{
	font-weight: 700;
	font-size: 2.5em;
	line-height: 44px;
}
h2{
	font-family: 'Nunito Sans', sans-serif;
	color: #555;
	font-size: 12px;
	padding-bottom: 20px;
	font-weight: 400;
}
p{
	font-family: 'Nunito Sans', sans-serif;
	color: black;
	font-size: 1em;
	font-weight: 400;
	line-height: 26px;
}
.content{
	width: 30%;
	max-height: 70%;
	position: fixed;
	top: 70px;
	margin-left: 62%;

	max-width: 500px;
}

.content:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.001), rgba(255,255,255,1) 100%);
}

.content p {
	max-height: 250px;
	margin-bottom: 0;
	padding-bottom: 60px;
}

.background{
	top: 580px;
	left: 0;
	width: 100%;
	height: auto; 
	position: fixed;
	z-index: -1;
	opacity: .5;
}

@media (max-width: 720px) {
	.content{
		width: 80%;
		position: relative;
		margin-left: 10%;
		top:100px;
	}
	.images{
		width: 100%;
		height: auto;
		margin-left: 10%;
		position: relative;
	}
	iframe {
		width: 80%;
		height: 300px;
		position: relative;
		display: inline-block;
	}
	img{
		width: 80%;
		height: auto;
		position: relative;
		display: inline-block;
	}
	.overflow{
		display: none;
	}
}

.images img {
	margin-bottom: 25px;
}

h1 {
	overflow: hidden;
}