body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3.99998092651367px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#111111;
  text-align:left;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:320px;
  height:700px;
  font-size:15px;
  color:#111111;
  text-align:left;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:13px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:19px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:346px;
  width:290px;
  height:107px;
  line-height:19px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:46px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:34px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:397px;
  width:259px;
  height:34px;
  font-family:'AmazonEmber-Regular', 'Amazon Ember';
  font-weight:400;
  font-style:normal;
  color:#111111;
}
#u147_img.mouseOver {
}
#u147.mouseOver {
}
#u147_img.mouseDown {
}
#u147.mouseDown {
}
#u148 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:239px;
  word-wrap:break-word;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmazonEmber-Regular', 'Amazon Ember';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:360px;
  width:70px;
  height:20px;
  font-family:'AmazonEmber-Regular', 'Amazon Ember';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:19px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:558px;
  width:290px;
  height:107px;
  line-height:19px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:46px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:34px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:609px;
  width:259px;
  height:34px;
  font-family:'AmazonEmber-Regular', 'Amazon Ember';
  font-weight:400;
  font-style:normal;
  color:#111111;
}
#u154_img.mouseOver {
}
#u154.mouseOver {
}
#u154_img.mouseDown {
}
#u154.mouseDown {
}
#u155 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:239px;
  word-wrap:break-word;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmazonEmber-Regular', 'Amazon Ember';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:572px;
  width:91px;
  height:20px;
  font-family:'AmazonEmber-Regular', 'Amazon Ember';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:19px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:452px;
  width:290px;
  height:107px;
  line-height:19px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:46px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:34px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:503px;
  width:259px;
  height:34px;
  font-family:'AmazonEmber-Regular', 'Amazon Ember';
  font-weight:400;
  font-style:normal;
  color:#111111;
}
#u161_img.mouseOver {
}
#u161.mouseOver {
}
#u161_img.mouseDown {
}
#u161.mouseDown {
}
#u162 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:239px;
  word-wrap:break-word;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmazonEmber-Regular', 'Amazon Ember';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:466px;
  width:70px;
  height:20px;
  font-family:'AmazonEmber-Regular', 'Amazon Ember';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  line-height:20px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmazonEmber-Regular', 'Amazon Ember';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#0066C0;
  text-align:left;
  line-height:20px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:310px;
  width:198px;
  height:19px;
  font-family:'AmazonEmber-Regular', 'Amazon Ember';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#0066C0;
  text-align:left;
  line-height:20px;
}
#u165_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmazonEmber-Regular', 'Amazon Ember';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#0066C0;
  text-align:left;
  line-height:20px;
}
#u165.mouseOver {
}
#u166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:301px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:301px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3.99998092651367px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#111111;
  text-align:left;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:320px;
  height:40px;
  font-size:15px;
  color:#111111;
  text-align:left;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:13px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
