<!DOCTYPE html>
<html>
<head>
	<title>Amazon 1-Click</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
   <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
   <link rel="stylesheet" type="text/css" href="stylesheets/project.css">

<body>
		<div id="wrapper">
			<div class="lightBox">
				<div class="x">&#10005</div>
				<div class="prototype">
					<iframe class="mobilePrototype" style="max-width: 316px; margin-top: 0;" src="/1-Click Preferences Page Mobile/1-click_preferences.html" width="452" height="702" allowTransparency="true" frameborder="0"></iframe>
				</div>
			</div>
			<main>
			<img class="background" src="gradient.svg" id="bg_1">
			<a class="back" href="/#ux"><img src="home.svg"></a>
			<h1>Amazon's One-Click</h1>
			<p class="copyA">Amazon’s 1-Click settings page hasn’t been updated in almost 20 years. During my time here, I was given the opportunity to redesign this page with my mentors and have it implemented with a team of engineers.
			</p>
			<img class="mockup" id="mockup_2" src="projects/amazon/Amazon_17.png">
			<img class="mockup" id="mockup_1" src="projects/amazon/Amazon_18.png">
			<img class="mockup" id="mockup_3" src="projects/amazon/Amazon_16.png">
			<div class="researchContainer">
				<img class="research" id="research_1" src="projects/amazon/Amazon_4.png">
				<img class="research" id="research_2" src="projects/amazon/Amazon_5.png">
				<img class="research" id="research_3" src="projects/amazon/Amazon_6.png">
			</div>
			<div class="copyBContainer">
				<h2>Research</h2>
				<p class="copyB" id="copyB_left">
					1-Click was one of the first patents by Jeff Bezos. On top of the retail and mobile app, Amazon products, like Alexa, all digital products, 1-Click, etc. all rely on the 1-Click preferences page for purchasing. 
					<br>
					<br>
					I aimed to clean up the page, get rid of unnecessary features, update aesthetics, and have it be transparent and informative to the customer. 
				<p class="copyB">
					To gather data about the pain points of this problem, I conducted interviews with Amazon employees who had interacted with this page and had tackled problems with this before, went through all issue tickets related to 1-Click, and used my own intuition.
				</p>
			</div>
			<div class="largeWireframeContainer">
				<h2 style="color:black; margin-left: 0;">Wireframing</h2>
				<div class="wireframeContainer">
					<img class="wireframe" id="wireframe_1" src="projects/amazon/Amazon_7.png">
					<p class="copyC">Every project at Amazon follows tenants that are set early in the production cycle. Based off of the pain points, we ensured that our possible solutions were clear, transparent, and made the page much easier to use. There were many major iterations done on this page throughout the project’s 12 weeks, going through plenty of sketches, wireframes, mockups, feedback and reviews sessions.
					</p>
				</div>
			
				<div class="wireframeContainer">
					<img class="wireframe" id="wireframe_2" src="projects/amazon/Amazon_8.png">
					<p class="copyC">We audited the page and broke down the features we wanted to keep or let go in each section of the page. This page was divided into 4 parts: The header (statement about what can be done on this page), the devices component (managing 1-Click for devices), and the list of preferences (shows current default preference and other saved preferences).</p>
				</div>
			
				<div class="wireframeContainer">
					<img class="wireframe" id="wireframe_3" src="projects/amazon/Amazon_9.png">
					<p class="copyC">One of the most important features on this page was the default preference, as this was the set of data used for purchases. Each preference included an address, nickname, payment method, and a shipping method. We also made sure that the completed design could translate to a mobile interface.
					</p>
				</div>
			</div>
			<div id="lastGradient"></div>
			<div class="wideContainer">
			<div style="width: 150px; height: 100px; float: left;"></div>
			<div class="dragMe">
				    	<img class="finalMockup" id="finalMockup_1" src="projects/amazon/Amazon_15.png">
				    	<img class="finalMockup" id="finalMockup_2" src="projects/amazon/Amazon_16.png">
				    	<img class="finalMockup" id="finalMockup_3" src="projects/amazon/Amazon_17.png">
				    	<img class="finalMockup" id="finalMockup_4" src="projects/amazon/Amazon_18.png">
				    	<img class="finalMockup" id="finalMockup_5" src="projects/amazon/Amazon_19.png">
				    	<img class="finalMockup" id="finalMockup_6" src="projects/amazon/Amazon_20.png">
				    </div>
			</div>
			<div class="copyDContainer">
				<h2 style="margin-left: 0;">Mockups</h2>
				    <p class="copyD">With this design, we informed the customer of what they could do on this site, gave them a simple and clean interface for preferences that was easy to digest, created visual hierarchy between components, resolved overflow issues for preferences, proposed a nicknaming system for preferences, and the list goes on.
			    	</p>
				<p class="copyD">
					We tried to go down into the nitty gritty and make the best possible experience. Everything I had produced and had collected was bundled together in an internal wiki and an online internal drive. The developers schedule was a week behind mine, so I also had to make sure they had everything they needed to implement my designs, even after I had finished my term. <a href="https://www.amazon.com/cpe/manageoneclick?ref_=ya_d_l_change_1_click" target="_blank"><u>You can view the implemented site here.</u></a>
				</p>
				<a class="button" style="display: none;" id="over400">
					<div class="buttonText">View prototype</div>
				</a>
				<a class="button" style="display: none;" id="under400" target="_blank" href="/1-Click Preferences Page Mobile/1-click_preferences.html">
					<div class="buttonText">View prototype</div>
				</a>
			</main>
		</div>
		<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
		<script src="js/project.js"></script>
	</body>
</html>