<!DOCTYPE html>
<html>
<head>
	<title>Apple Music</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
   <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
   <link rel="stylesheet" type="text/css" href="stylesheets/project.css">

<body>
		<div id="wrapper">
			<div class="lightBox">
				<div class="x">&#10005</div>
				<div class="prototype">
					<iframe class="mobilePrototype" src="https://marvelapp.com/10hhbb8?emb=1&iosapp=false&frameless=false" width="452" height="902" allowTransparency="true" frameborder="0"></iframe>
				</div>
			</div>
			<main>
				
			<img class="background" src="gradient.svg" id="bg_1">
			<a class="back" href="/#ux"><img src="home.svg"></a>
			<h1>Apple Music</h1>
			<p class="copyA">With innovations like the iPod and household staples like iTunes, it was only a matter of time before Apple started their own music streaming service. Apple Music (AM) is unique with their signature aesthetics and features. I tried thinking about it differently. 
			</p>
			<img class="mockup" id="mockup_3" src="projects/apple-music/Apple_15.png">
			<img class="mockup" id="mockup_1" src="projects/apple-music/Apple_12.png">
			<img class="mockup" id="mockup_2" src="projects/apple-music/Apple_10.png">
			<div class="researchContainer">
				<img class="research" id="research_1" src="projects/apple-music/Apple_4.png">
				<img class="research" id="research_2" src="projects/apple-music/Apple_5.png">
				<img class="research" id="research_3" src="projects/apple-music/Apple_6.png">
			</div>
			<div class="copyBContainer">
				<h2>Research</h2>
				<p class="copyB" id="copyB_left">
					This project was a part of my independent study with Chris Garvin. My aim wasn’t an attempt to fix a broken product, but rather trying a different approach. Instead of a user-centered framework, we tried a service design approach. Following the methods laid out in our resource “This is Service Design Thinking”, I did a SWOT analysis, created a stakeholder map, gathered statistics and created personas. 
				</p>
				<p class="copyB">
					It was revealed that popular music streaming services tend to favor younger audiences and not older ones. We wanted our solution to be easy to use and appeal to older audiences. We also wanted to emphasize Apple Music’s outlier feature: Connect. It gives users “backstage” access to their favorite artists, which furthers engagement.
				</p>
			</div>
			<div class="largeWireframeContainer">
				<h2 style="color:black; margin-left: 0;">Wireframing</h2>
				<div class="wireframeContainer">
					<img class="wireframe" id="wireframe_1" src="projects/apple-music/Apple_7.png">
					<p class="copyC">This application revolved around three main screens:
						<br>
						<br>
						<b>1) </b>Listen : You can view and listen to your saved playlists, artists, albums, and stations. The play button is on the playlists and albums so you can shuffle play your music as soon as possible.
			
					</p>
				</div>
			
				<div class="wireframeContainer">
					<img class="wireframe" id="wireframe_2" src="projects/apple-music/Apple_8.png">
					<p class="copyC">
						<b>2)</b> Explore : It has 3 sections: new releases, recommended, and curated playlists. Also, it has a section at the top for a featured recommendation, which you can read a little about.
					</p>
				</div>
			
				<div class="wireframeContainer">
					<img class="wireframe" id="wireframe_3" src="projects/apple-music/Apple_9.png">
					<p class="copyC">
						<b>3)</b> Connect : This is comparable to music sites like Pitchfork. Includes content like music videos, interviews, news, and new releases from the artists you listen to.
			
						With these new changes, we decided to go in a different aesthetic direction. I went for a darker theme with a textured background to emulate the matte plastic of a vinyl player. To create visual hierarchy between the content, the albums were designed to be a square, playlists were made of four smaller squares, artists were made circular, and stations were circular within blurred squares.
					</p>
				</div>
			</div>
			<div id="lastGradient"></div>
			<div class="wideContainer">
			<div style="width: 150px; height: 100px; float: left;"></div>
			<div class="dragMe">
				    	<img class="finalMockup" id="finalMockup_1" src="projects/apple-music/Apple_10.png">
				    	<img class="finalMockup" id="finalMockup_2" src="projects/apple-music/Apple_11.png">
				    	<img class="finalMockup" id="finalMockup_3" src="projects/apple-music/Apple_12.png">
				    	<img class="finalMockup" id="finalMockup_4" src="projects/apple-music/Apple_13.png">
				    	<img class="finalMockup" id="finalMockup_5" src="projects/apple-music/Apple_14.png">
				    	<img class="finalMockup" id="finalMockup_6" src="projects/apple-music/Apple_15.png">
				    	<img class="finalMockup" id="finalMockup_7" src="projects/apple-music/Apple_16.png">
			</div>
				    </div>
				    <div class="copyDContainer">
				<h2 style="margin-left: 0;">Mockups</h2>
				    	<p class="copyD">
				    		The project was a success! Because I wasn’t previously familiar with the new service design approach, I was skeptical about results, but it worked out in the end. I assumed that the best interface was going to be a Frankenstein between AM and Spotify, so it was interesting that the final UIs looked so similar to Spotify. 
			    		</p>
				<p class="copyD">
					Being an avid Spotify user, it’s possible that my own bias factored into this. Feel free to poke around my prototype to get a feel for the app.
				</p>
				<a class="button" id="over400">
					<div class="buttonText">View prototype</div>
				</a>
				<a class="button" id="under400" href="https://marvelapp.com/10hhbb8" target="_blank">
					<div class="buttonText">View prototype</div>
				</a>
			</main>
		</div>
		<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
		<script src="js/project.js"></script>
	</body>
</html>