<!DOCTYPE html>
<html>
<head>
	<title>Beat Blocks</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
</head>
<body>

<style>
	* {
		font-family: 'Nunito Sans', sans-serif;
	}

	/*Add #wrapper to template*/
	#wrapper {
		position: relative;
		margin: auto;
		max-width: 1440px;
	}

	/*Add body to template*/
	body {
		margin: auto !important;
		overflow-x: hidden;
		max-width: 1440px !important;
	}

	h1 {
		font-weight: 700;
		font-size: 2.5em;
		margin-left: 12%;
		margin-top: 150px;
	}

	h2 {
		font-weight: 700;
		font-size: 2em;
		margin-left: 12%;
		margin-top: 75px;
		color: white;
	}

	a {
		text-decoration: none;
		cursor: pointer;
	  	color: blue;
	}

	.back {
		top: 50px;
		left: 35px;
		position: fixed;
		background: blue;
		padding: 15px 15px 10px 15px;
		border-radius: 100px;
		color: white;
		text-decoration: none;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
		z-index: 100;
	}

	.back img {
		width: 20px;
		height: auto;
	}

	.copyA {
		width: 305px;
		height: auto;
		float: left;
		margin-left: 12%;
		margin-top: 65px;
		line-height: 26px;
	}

	.copyB {
		width: 305px;
		height: auto;
		float: left;
		margin-left: 12%;
		margin-top: 65px;
		line-height: 26px;
		color: white;
		margin-top: 0;
	}

	.mockup {
		width: 600px;
		height: auto;
		position: relative;
		margin-right: 100px;
		float: right;
		opacity: 0;
		margin-bottom: -325px;
		margin-top: -175px;
		box-shadow: 2px 3px 10px black;
	}

	.background {
		left: 0;
		width: 100%;
		height: auto; 
		display: block;
		position: absolute;
		z-index: -100;
	}

	#bg_1 {
		top: 600px;
	}

	.copyBContainer {
		position: fixed;
		display: block;
		top: 0px;
		left: 700px;
		margin-top: 10px;
		width: auto;
		z-index: -1;
	}

	.researchContainer {
		top: 900px;
		left: 12%;
		width: 450px;
		height: 1050px;
		display: block;
		position: absolute;
	}

	.research {
		width: 450px;
		height: 300px;
		box-shadow: 2px 3px 10px black;
		margin-bottom: 50px;
		position: relative;
	}

	.largeWireframeContainer {
		top: 2300px;
		left: 12%;
		width: 100%;
		height: 2000px;
		display: block;
		position: absolute;
	}

	.wireframeContainer {
		width: 80%;
		height: 450px;
		display: block;
		position: relative;
		margin-bottom: 100px;
	}

	.wireframe {
		position: relative;
		display: block;
		width: 650px;
		box-shadow: 2px 3px 10px black;
		float: right;
		height: auto;
		margin-bottom: 50px;
	}

	.copyC {
		width: 305px;
		height: auto;
		margin-top: 0;
		line-height: 26px;
		color: black;
		position: relative;
		margin-right: 48px;
		float: left;
		margin-bottom: 30px;
	}

	.wideContainer {
		top: 4500px;
		width: 100%;
		height: 500px;
	    overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: nowrap;
	    display: block;
		position: absolute;
	}

	.finalMockup {
		width: 600px;
		margin-right: -100px;
		height: auto;
		position: relative;
		display: inline-block;
		box-shadow: 2px 3px 10px black;
	}

	.wideContainer::-webkit-scrollbar { 
	    display: none; 
	}

	.copyDContainer {
		top: 4890px;
		left: 12%;
		width: auto;
		height: 100px;
		display: block;
		position: absolute;
	}

	.copyD {
		width: 305px;
		height: auto;
		margin-top: 0;
		line-height: 26px;
		color: white;
		position: relative;
		margin-right: 48px;
		margin-bottom: 30px;
		float: left;
	}

	.button {
		width: 250px;
		height:50px;
		background:blue;
		display: inline-block;
		position: relative;
		border-radius: 100px;
		margin-left: -10px;
		text-align:center;
		box-shadow:2px 3px 10px black;
		cursor: pointer;
	}

	.buttonText {
		width:100%;
		height:auto;
		margin-top:14px;
		color:white;
		font-size:1em;
	}

	.lightBox {
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.5); 
		z-index: 1;
		position: fixed;
		cursor: alias;
	}

	.prototype {
		z-index: 2;
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    display: flex;
	   	justify-content: center;
	}

	.prototype > * {
		flex: 1;
		transform: scale(0.7);
		margin-top: -50px;
	}

	.mobilePrototype {
		/*max-width: 452px;*/
	}

	.x {
		font-size: 2em;
		color: white;
		float: right;
		margin-right: 35px;
		margin-top: 50px;
	}

	.dragMe {
		cursor: -webkit-grab;
	}

	/*Add new queries to template*/
	@media (max-width: 10000px) and (min-width: 2561px) {
		.copyBContainer {
			position: absolute;
			top: 815px;
		}
	}

	@media (max-width: 2560px) {
		.copyBContainer {
			margin-left: 22%;
		}
	}

	@media (max-width: 2300px) {
		.copyBContainer {
			margin-left: 17%;
		}
	}

	@media (max-width: 1900px) {
		.copyBContainer {
			margin-left: 10%;
		}
	}

	@media (max-width: 1600px) {
		.copyBContainer {
			margin-left: 4%;
		}
	}

	@media (max-width: 1270px) {
		.background{
			width: 1300px;
		}

		.wireframe {
			width: 450px;
		}

		.copyBContainer {
			margin-left: 0;
		}
	}

	@media (max-width: 1143px) and (min-width: 879px) {
		.mockup {
			margin-right: -15%;
		}

		.copyBContainer {
			left: 600px;
		}
	}

	@media (max-width: 1003px) {
		.wireframe{
			float: left;
		}
	}

	@media (max-width: 985px) {
		#bg_1 {
			width: 1400px;
		}

		.copyBContainer {
			left: 12%;
			width: 900px;
			top: 300px;
		}

		.copyB {
			margin-left: 0;
		}

		#copyB_left {
			margin-right: 30px;	
		}

		h2 {
			margin-left: 0;
		}

		.researchContainer {
			top: 1100px;
		}

		.copyBContainer {
			position: absolute;
			top: 650px;
			width: 80%;
		}
	}

	@media (max-width: 878px) and (min-width: 708px) {
		.mockup {
			margin-right: -42%;
		}
	}

	@media (max-width: 707px) and (min-width: 612px) {
		.mockup {
			margin-right: -60%;
		}
	}

	@media (max-width: 611px) {
		.mockup {
			display: none;
		}
	}

	@media (max-width: 550px) {
		.researchContainer {
			width: 100%;
			height: auto;
		}

		.research {
			width: 80%;
			height: auto;
		}

		.wireframe {
			width: 100%;
		}
	}

	@media (max-width: 375px) {
		.researchContainer {
			top: 1440px;
		}
		.copyA {
			width: 85%;
		}
		.copyB {
			width: 95%;
		}
		.copyC {
			width: 95%;
		}
		.copyD {
			width: 93%;
		}
	}

	
	#lastGradient {
		position: absolute;
	    top: 4200px;
	    bottom: 0;
	    width: 100%;
	    background: url(/gradient2.svg) no-repeat;
	    min-height: 1050px;
	    display: block;
	    content: "foo";
	    background-size: cover;
	    padding-bottom: 200px;
	}

	/*MQ for this layout only*/
	@media (max-width: 882px) {

		#lastGradient {
			min-height: 1050px;
			top: 4500px;
		}

		.wideContainer {
			top: 4750px;
		}

		.copyDContainer {
			top: 5190px;
		}
	}

	@media (max-width: 802px) {

		#lastGradient {
			padding-bottom: 450px;
		}
	}

	@media (max-width: 799px) {
		#bg_1 {
			width: 1550px;
		}

		.researchContainer {
			top: 1350px;
		}

		.largeWireframeContainer {
			top: 2500px;
			left: 12%;
			width: 100%;
			height: 2000px;
			display: block;
			position: absolute;
		}

		#lastGradient {
			top: 4700px;
		}

		.wideContainer {
			top: 4950px;
		}

		.copyDContainer {
			top: 5390px;
		}
	}

		.finalMockup {
			margin-left: 40px;
			max-width: 100%;
		}
</style>
		<div id="wrapper">
			<div class="lightBox">
				<div class="x">&#10005</div>
				<div class="prototype">	
					<iframe class="mobilePrototype" width="100" height="900" scrolling="no" frameborder="0"></iframe>
				</div>
			</div>
			<img class="background" src="gradient.svg" id="bg_1">
			<a class="back" href="/#ux"><img src="home.svg"></a>
			<h1>Beat blocks</h1>
			<p class="copyA">My capstone project prompted us to solve a local problem at UGA. Our campus has a lack of emphasis on technology, being a liberal arts school. My team and I used our expertise to engage students with technology to see it's potential for bringing people together.</p>
			<img class="mockup" id="mockup_3" src="beatblocks/table-top-2.png">
			<div class="researchContainer">
				<img class="research" id="research_1" src="beatblocks/ui-sketch.png">
				<img class="research" id="research_2" src="beatblocks/table-sketch.png">
				<img class="research" id="research_3" src="beatblocks/paper-blocks.png">
			</div>
			<div class="copyBContainer">
				<h2>Research</h2>
				<p class="copyB" id="copyB_left">Beat blocks is a physical interface where people come together to create music together. To prepare for the project, I wrote a brief, created a project timeline with goals and milestones, and planned a budget. I also assembled a team, consisting of AJ, the back–end dev, and Oscar, the front–end dev.</p>
				<p class="copyB">When doing research, I found a few projects that made good influences. These were Incredibox and the Chrome Music Lab. These apps allow anyone to create music without knowledge of music theory, much like our project. It guided the project in numerous aspects.</p>
			</div>
			<div class="largeWireframeContainer">
				<h2 style="color:black; margin-left: 0;">Iterating</h2>
				<div class="wireframeContainer">
					<img class="wireframe" id="wireframe_1" src="beatblocks/wood-blocks.png">
					<p class="copyC">This project has many parts: visual design, sound design, programming, woodwork, and the exhibition. For this case study, I'm focusing on the UI/UX aspects. For a more comprehensive overview, <a href="https://issuu.com/paulhwang/docs/beat_blocks_progress_book" target="_blank"><u>check out my process book.</u></a></p>
					<p class="copyC">We needed an interface that allowed creative musical expression for people that didn't know anything about music theory. We also needed to keep in mind that our design needed to encourage people to have this experience with others.</p>
				</div>
			
				<div class="wireframeContainer">
					<img class="wireframe" id="wireframe_2" src="beatblocks/colored-blocks.png">
					<p class="copyC">We decided to have users assemble loops with preset sound patterns. For this idea, users would need to place blocks into a music player. We planned to make a touchscreen and have users drag and drop sounds into the center, but after pivoting, we decided to have a physical UI instead.</p>
					<p class="copyC">We had physical blocks that had a shape and color combination. This combination would be seen by a camera, which would use computer vision to decide was sounds to play.</p>
				</div>
			
				<div class="wireframeContainer">
					<img class="wireframe" id="wireframe_3" src="beatblocks/final-ui.png">
					<p class="copyC">Our front–end was displayed onto the acrylic table top, from underneath, by a projector. It indicated what color made certain kinds of sounds as well as show how many people could use our table. It also indicated when people could place in a block with a blinking glow in the center.</p>
				</div>
			</div>
			<div id="lastGradient"></div>
			<div class="wideContainer">
			<div style="width: 150px; height: 100px; float: left;"></div>
				<div class="dragMe">
					<img class="finalMockup" id="finalMockup_1" style="margin-right: 50px;" src="beatblocks/table-top.png">
					<img class="finalMockup" id="finalMockup_2" style="margin-right: 50px;" src="beatblocks/table-front.png">
					<img class="finalMockup" id="finalMockup_3" style="margin-right: 50px;" src="beatblocks/pink-blocks.png">
					<img class="finalMockup" id="finalMockup_4" style="margin-right: 50px;" src="beatblocks/people-1.png">
					<img class="finalMockup" id="finalMockup_5" style="margin-right: 50px;" src="beatblocks/people-2.png">
				</div>
		    </div>
		    <div class="copyDContainer">
				<h2 style="margin-left: 0;">Exhibition</h2>
		    	<p class="copyD">Visually, we had everything follow our color palette, which was influenced by the synth focused sounds designed for the project, including our poster and blocks. The colors used also had to contrast enough so the camera could better discern the blocks.</p>
			
				<p class="copyD">To get people to work together, we had originally planned to add sensors to the edges of the table that would allow a type of sound, say melodies, play if it was covered. If you didn’t have 4 people, you couldn’t play all of the sounds. </p>
			
				<p class="copyD">We ended up not implementing this due to time constraints. However, due to how we designed our other components, people naturally played together.</p>
			
				<a class="button" style="display: none;" id="over400">
					<div class="buttonText">View prototype</div>
				</a>
				<a class="button" style="display: none;" id="under400" href="/beat-blocks/prototype" target="_blank">
					<div class="buttonText">View prototype</div>
				</a>
		    </div>
		</div>

<script type="text/javascript">
	$(".lightBox").hide();
	$(".button").hide();

	$("#over400").click(function(){
		$(".lightBox").fadeIn();
		$(".mobilePrototype").attr("src", "/beat-blocks/prototype");
		$("body").css('overflow','hidden');
	});

	$(".lightBox").click(function() {
		$(this).fadeOut();
		$(".prototype iframe").attr("src", "#");
		$("body").removeAttr('style');
	});

	if ($(window).width() < 400) {
		$("#over400").hide();
		$("#under400").show();
	} else {
		$("#under400").hide();
		$("#over400").show();
	}

	$(window).on('resize', function(){
		if ($(window).width() < 400) {
			$("#over400").hide();
			$("#under400").show();
		} else {
			$("#under400").hide();
			$("#over400").show();
		}
	});

	  $("#mockup_1").animate({
	    marginTop: "+=50",
	    opacity: "1"
	  }, 500);

	    $("#mockup_2").delay(100).animate({
	    marginTop: "+=50",
	    opacity: "1"
	  }, 500);

	      $("#mockup_3").delay(200).animate({
	    marginTop: "+=50",
	    opacity: "1"
	  }, 500);

	var scrollValue;
	$(".copyBContainer").hide();

	if ($(window).width() < 985) {
		$(".copyBContainer").show();
	}

	$(document).scroll(function(){
		scrollValue = $(document).scrollTop();
		if (scrollValue < 400) {
			$("#mockup_1").css("margin-top", -125 + scrollValue/12);
			$("#mockup_2").css("margin-top", -125 + scrollValue/11.9);
			$("#mockup_3").css("margin-top", -125 + scrollValue/11.8);
		};

		if (scrollValue > 300 && scrollValue < 1500) {
			$(".copyBContainer").fadeIn(500);
		} else if (scrollValue > 1900 && $(window).width() > 985 || scrollValue < 300 && $(window).width() > 985) {
			$(".copyBContainer").fadeOut(500);
		};
	});
	$(".dragMe").draggable({
		axis: "x"
	});
</script>
</body>
</html>