<!DOCTYPE html>
<html>
<head>
	<title>JPEX</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
   <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
   <link rel="stylesheet" type="text/css" href="stylesheets/project.css">

<body>
		<div id="wrapper">
			<div class="lightBox">
				<div class="x">&#10005</div>
				<div class="prototype">
					<iframe class="mobilePrototype" width="438" height="930" src="//invis.io/MQL7NYQ4A3B" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<main>
				
			<img class="background" src="gradient.svg" id="bg_1">
			<a class="back" href="/#ux"><img src="home.svg"></a>
			<h1>JPEX</h1>
			<p class="copyA">
				JPEX keeps people coming out of Rehab accountable with their platform, which helps them overcome their addictions.<br>I designed their mobile platform.
			</p>
			<img class="mockup" id="mockup_3" src="projects/jpex/jpex_14.png">
			<img class="mockup" id="mockup_1" src="projects/jpex/jpex_16.png">
			<img class="mockup" id="mockup_2" src="projects/jpex/jpex_11.png">
			<div class="researchContainer">
				<img class="research" id="research_1" src="projects/jpex/jpex_4.png">
				<img class="research" id="research_2" src="projects/jpex/jpex_5.png">
				<img class="research" id="research_3" src="projects/jpex/jpex_6.png">
			</div>
			<div class="copyBContainer">
				<h2>Research</h2>
				<p class="copyB" id="copyB_left">
					There are two categories of people in Rehab. One includes people in the upper class, with a 90% pass rate (in 5 years), and the other includes those mandated to be clean, with a 3% pass rate (in 5 years). This product sets out to drastically increase this low rate using a mobile application that holds those recovering accountable.
				</p>
				<p class="copyB">
					Normally, addiction recovery programs are unaffordable to most, but this service will be accessible to anyone with a mobile device. JPEX is designing their service from the ground up. It offers features like mandatory check-ins, random drug tests, statistics, cheap drug tests, etc.

				</p>
			</div>
			<div class="largeWireframeContainer">
				<h2 style="color:black; margin-left: 0;">Wireframing</h2>
				<div class="wireframeContainer">
					<img class="wireframe" id="wireframe_1" src="projects/jpex/jpex_7.png">
					<p class="copyC">
						After researching and writing out personas, I began sketching out a few solutions for the features. Having an accountability network was going to be a large focus of the app. All of the features in the app tied back to that point. I needed to consider the user flows for both a member using the app and a contact using the app.
					</p>
				</div>
			
				<div class="wireframeContainer">
					<img class="wireframe" id="wireframe_2" src="projects/jpex/jpex_8.png">
					<p class="copyC">
						I designed 2 different versions, the contact side and member side. After further flushing out my sketches, I created wireframes, presented to my team, and then moved to creating mockups.
					</p>
				</div>
			
				<div class="wireframeContainer">
					<img class="wireframe" id="wireframe_3" src="projects/jpex/jpex_9.png">
					<p class="copyC">
						Something to note is that the audience I was working with was recovering from drug abuse. People tend to unintentionally shame those that're recovering, so I was intentional with my verbiage and refrained from using words like "addict" and "addicted".
					</p>
				</div>
			</div>
			<div id="lastGradient"></div>
			<div class="wideContainer">
			<div style="width: 150px; height: 100px; float: left;"></div>
			<div class="dragMe">
				    	<img class="finalMockup" id="finalMockup_1" src="projects//jpex/jpex_10.png">
				    	<img class="finalMockup" id="finalMockup_2" src="projects//jpex/jpex_11.png">
				    	<img class="finalMockup" id="finalMockup_3" src="projects//jpex/jpex_12.png">
				    	<img class="finalMockup" id="finalMockup_4" src="projects//jpex/jpex_13.png">
				    	<img class="finalMockup" id="finalMockup_5" src="projects//jpex/jpex_14.png">
				    	<img class="finalMockup" id="finalMockup_6" src="projects//jpex/jpex_15.png">
				    	<img class="finalMockup" id="finalMockup_7" src="projects//jpex/jpex_16.png">
				    	<img class="finalMockup" id="finalMockup_7" src="projects//jpex/jpex_17.png">
				    	<img class="finalMockup" id="finalMockup_7" src="projects//jpex/jpex_18.png">
				    	<img class="finalMockup" id="finalMockup_7" src="projects//jpex/jpex_19.png">

			</div>
				    </div>
				    <div class="copyDContainer">
				<h2 style="margin-left: 0;">Mockups</h2>
				<p class="copyD">
			    	My visuals needed to be bright and hopeful. The color palette centered around warm colors, to show comfort and aspiration, like a sunrise. All of the colors, with a couple exceptions, are a bit faded to be non-threatening. It also features many rounded edges on buttons and shapes. Some designs were tweaked during development based off of the engineer’s feedback.
				</p>
				<p class="copyD">
					After the hifis were approved, I created a prototype and uploaded the screens to Zeplin to hand off to the developer. I was happy to help with this project, especially since I knew that it would be making a positive difference in the user’s life.
				</p>
				<a class="button" style="display: none;" id="over400">
					<div class="buttonText">View prototype</div>
				</a>
				<a class="button" style="display: none;" id="under400" href="https://invis.io/36L7OQTHW9S" target="_blank">
					<div class="buttonText">View prototype</div>
				</a>
			</main>
		</div>
		<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
		<script src="js/project.js"></script>
</body>
</html>