<!DOCTYPE html>
<html>
<head>
	<title>Pupper</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
   <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
   <link rel="stylesheet" type="text/css" href="stylesheets/project.css">

<body>
		<div id="wrapper">
			<div class="lightBox">
				<div class="x">&#10005</div>
				<div class="prototype">
					<iframe class="mobilePrototype" src="https://marvelapp.com/97afd76?emb=1&iosapp=false&frameless=false" width="452" height="901" allowTransparency="true" frameborder="0"></iframe>
				</div>
			</div>
			<img class="background" src="gradient.svg" id="bg_1">
			<a class="back" href="/#ux"><img src="home.svg"></a>
			<h1>Pupper</h1>
			<p class="copyA">Have you ever wanted a dog, but without the responsibility of owning one? What if there was an app that let you rent one for a weekend, or even for an event? Pupper is an iOS application that allows you to do just that.</p>
			<img class="mockup" id="mockup_1" src="projects/pupper/Pupper_14.png">
			<img class="mockup" id="mockup_3" src="projects/pupper/Pupper_11.png">
			<img class="mockup" id="mockup_2" src="projects/pupper/Pupper_10.png">
			<div class="researchContainer">
				<img class="research" id="research_1" src="projects/pupper/Pupper_4.png">
				<img class="research" id="research_2" src="projects/pupper/Pupper_5.png">
				<img class="research" id="research_3" src="projects/pupper/Pupper_6.png">
			</div>
			<div class="copyBContainer">
				<h2>Research</h2>
				<p class="copyB" id="copyB_left">This app concept was created in a UX class taught by Matt Smith from MDS. This service focuses on delivering live animals to strangers that will play and take care of them for a short period of time. Usually I would begin by stating objective, scope, and use cases, but accident prevention would be a high priority, so I stated my edge cases first. </p>
				<p class="copyB">The goal was for users to be able to rent a dog for a short period of time, whether it be for an event like a birthday party, or just a casual jog. I wrote personas for common scenarios and use cases for renting different types of dogs. Of course, safety for both parties was a focus as well. These dogs needed to be presented like they were living beings, not objects.</p>
			</div>
			<div class="largeWireframeContainer">
				<h2 style="color:black; margin-left: 0;">Wireframing</h2>
				<div class="wireframeContainer">
					<img class="wireframe" id="wireframe_1" src="projects/pupper/Pupper_7.png">
					<p class="copyC">With my groundwork done, I started sketching out solutions for the dog rentals. Each dog has a few details: the name, breed, cost, description, and three key characteristics: age group, activity level, and temperament.</p>
					<p class="copyC">The filtering system is based off of these characteristics. I highly emphasized the name and the personality of each dog to further “humanize” each dog as to remind the user that these are live animals.</p>
				</div>
			
				<div class="wireframeContainer">
					<img class="wireframe" id="wireframe_2" src="projects/pupper/Pupper_8.png">
					<p class="copyC">To easily display this information, I went with a cell view for bite-sized entries.</p>
					<p class="copyC">The details page included the dog’s information, a date picker, and the “add to kennel” button.</p>
				</div>
			
				<div class="wireframeContainer">
					<img class="wireframe" id="wireframe_3" src="projects/pupper/Pupper_9.png">
					<p class="copyC">To maintain a simple and intuitive interface, I used typography and white space to properly group the necessary information together to create hierarchy.</p>
				</div>
			</div>
			<div id="lastGradient"></div>
			<div class="wideContainer">
			<div style="width: 150px; height: 100px; float: left;"></div>
			<div class="dragMe">
				    	<img class="finalMockup" id="finalMockup_1" src="projects/pupper/Pupper_10.png">
				    	<img class="finalMockup" id="finalMockup_2" src="projects/pupper/Pupper_11.png">
				    	<img class="finalMockup" id="finalMockup_3" src="projects/pupper/Pupper_12.png">
				    	<img class="finalMockup" id="finalMockup_4" src="projects/pupper/Pupper_13.png">
				    	<img class="finalMockup" id="finalMockup_5" src="projects/pupper/Pupper_14.png">
			</div>
				    </div>
				    <div class="copyDContainer">
				<h2 style="margin-left: 0;">Mockups</h2>
				    	<p class="copyD">The message I wanted to give with my art direction was that every dog was going to be a new adventure. That with your new friend, you could embark (pun intended) on a journey. To do this, I went with a “granola”, wanderlust aesthetic that would appeal to a younger audience.</p>
				<p class="copyD"> I also made sure that each dog looked just as excited as a user might be renting the dog. I wanted to emphasize imagery, white space, and typography throughout the UI.</p>
				<p class="copyD">There were a few questions I couldn’t find a good answer to throughout the project, like how one could properly put a price on a dog and where the dogs would be rented from. Ideally they would come from shelters, but they would need to be trained specifically to be rented out.</p>
				<a class="button" style="display: none;" id="over400">
					<div class="buttonText">View prototype</div>
				</a>
				<a class="button" style="display: none;" id="under400" href="https://marvelapp.com/92fdh1e" target="_blank">
					<div class="buttonText">View prototype</div>
				</a>
				    </div>
		</div>
		<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
		<script src="js/project.js"></script>
	</body>
</html>