.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.image {
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.text_field {
  font-family:'AmazonEmber-Regular', 'Amazon Ember';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.flow_shape {
}
.h5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:13px;
  color:#333333;
  line-height:19px;
}
.extra_large_text {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#333333;
  line-height:34px;
}
.large_text {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#333333;
  line-height:27px;
}
.medium_text {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#333333;
  line-height:21px;
}
.small_text {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
  line-height:18px;
}
.mini_text {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#333333;
  line-height:16px;
}
.shape {
  color:#111111;
}
.radio_button1 {
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
.shape1 {
}
.image1 {
  color:#000000;
}
.horizontal_line {
}
