body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:714px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:714px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:349px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:69px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:454px;
  width:290px;
  height:69px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
